<h1>Trials</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>start time</th>
    <th>end time</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @trials.each do |trial| %>
    <tr>
      <td><%= trial.id %></td>
      <td><%= trial.start_time %></td>
      <td><%= trial.end_time %></td>
      <td>
        <%= link_to 'Edit', edit_trial_path(trial), :class => 'btn btn-mini' %>
        <%= link_to 'Destroy', trial_path(trial), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Create Trial', new_trial_path, :class => 'btn btn-primary' %>