.container-fluid.list-results
  %h1= "Results"
  - unless @trials.blank?
    %table.table.table-striped
      %thead
        %tr
          %th= "ID"
          %th

      %tbody
        - @trials.each do |trial|
          %tr
            %td= trial.id
            %td
              - if trial.results.blank?
                = link_to 'show result', "#", :class => 'btn btn-danger show-results', "data-id" => trial.id
              - else
                = link_to 'show result', "#", :class => 'btn btn-success show-results', "data-id" => trial.id
  - else
    %p
      = "sorry, create trial first"
    = link_to 'Create Trial', new_trial_path, :class => 'btn btn-primary'

= render "show_trial_result"