%h1= Trial

%p
  %b= "Name"
  %br
  = @trial.name

%p
  %b= "Period"
  %br
  = @trial.trial_period

%p
  %b= "Start Time"
  %br
  = @trial.start_time.blank? ? "-" : @trial.start_time.strftime("%d %B, %Y. %H:%m")

%p
  %b= "End Time"
  %br
  = @trial.end_time.blank? ? "-" : @trial.end_time.strftime("%d %B, %Y. %H:%m")

%p
  %b= "# of questions"
  %br
  = @trial.questions.size

.form-actions
  = link_to 'Back', trials_path, :class => 'btn'
  -#= link_to 'Edit', edit_trial_path(@trial), :class => 'btn'
  = link_to 'Delete', trial_path(@trial), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger'
