<h2>Change your password</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "New password", :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<html>
<head>
</head>
<body>

<div style="text-align:center;">
<div style="text-align:center;"><h1>Company Name</h1></div>
<div style="text-align:center;"><h2>Your Name</h2></div>


  <table>
    <tr>
      <td>your_email@photosinbox.com</td>
      <td></td>
      <td>Telephone.+91 123123123</td>
    </tr>
    <tr>
      <td>www.photosinbox.com</td>
      <td></td>
      <td>Fax.+91 123123123</td>
    </tr>
  </table>
</div>
</body>
</html>