<!DOCTYPE html>
<html>
<%= render "header" %>
<body>
	<%= render "navigation_bar" %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <h2>About Us</h2>
        about us text should be written here
      </div>
    </div>
  </div>
</body>
</html>
